body {
    margin: 0;
}

.app-container {
    background-color: rgb(43, 44, 58);
    min-height: 100vh;
}

section {
    margin-top: $spacing-10;
}

.content-body {
    margin-left: calc(25% + 2rem);
}