body {
    margin: 0;
}

.app-container {
    background-color: rgb(43, 44, 58);
    min-height: 100vh;
}

section {
    margin-top: $spacing-10;
}

.content-body {
    margin-left: 20%;
    margin-right: 20%;
    padding: 15px;
    margin-top: 15px;
    
    @media (max-width: 900px) {
        margin-left: 10%;
        margin-right: 10%;
    }
}